.panel {
  height: 100%;
  left: 0px;
  position: absolute;
  text-align: center;
  top: 0px;
  width: 100%;
}

.graphic-scroll-image {
  padding-bottom: 1.5em;
}

#pinContainer {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

section,
footer {
  align-items: center;
  display: flex;
  font-size: 18px;
  font-weight: 700;
  justify-content: center;
  text-transform: uppercase;
}

#pinMaster {
  position: relative;
}

footer {
  height: 100px;
  background-color: gray;
}

.spacer {
  height: 100vh;
  background-color: #42a6e0;
}

.one {
  background-color: #262626;
}
.two {
  background-color: #38ced7;
}
.three {
  background-color: #953543;
}

.graphic-scroll-image {
  margin-right: 5vw;
  max-height: 418px;
  max-width: 418px;
}

.graphic-scroll-text {
  color: #ffffff;
  font-family: Open Sans;
  font-size: 24px;
  max-width: 750px;
}
