@import '../../style/colors.scss';

.timeline {
  &-bg {
    background-color: $greyLightest;
    padding: 0 0 5rem;
    width: 100vw;
  }

  &-card {
    align-items: center;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  &-container {
    display: grid;
    grid-template-areas:
      '. top1 . top2'
      'line line line line'
      'bottom1 . bottom2 .';
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: 0 auto;
    position: relative;
    padding: 5rem 0;
    width: 95%;
  }

  &-dot {
    background-color: $blueDark;
    border-radius: 50%;
    height: 37px;
    transform: translateY(-17.5px);
    width: 37px;
  }

  &-heading {
    color: $blueDark;
    font-size: 1.2rem;
    font-weight: 800;
    max-height: 33px;
    max-width: 128px;
  }

  &-line {
    background-color: $blueDark;
    border: 3px solid $blueDark;
    display: grid;
    grid-area: line;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    height: 1px;
    justify-items: center;
    margin: 2rem auto;
    width: 100%;
  }

  &-overlay {
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    opacity: 0.2;
    padding: 2.75rem 0 5rem;
    position: absolute;
    width: 100%;
    display: none;
  }

  &-slide-title {
    color: $white;
    font-size: 5rem;
    font-weight: 800;
    padding-left: 5vw;
    padding-top: 3vh;
    position: relative;
    text-transform: uppercase;
  }

  &-text {
    color: $blueDark;
    max-height: 75px;
    max-width: 250px;
    font-size: 0.9rem;
    font-weight: 600;
    text-align: center;
  }

  &-title {
    padding-top: 2.75rem;
    position: relative;
    text-align: center;
  }
}

// Place grid items in correct grid spot
.top1 {
  align-self: end;
  grid-area: top1;
}

.top2 {
  align-self: end;
  grid-area: top2;
}

.bottom1 {
  grid-area: bottom1;
}

.bottom2 {
  grid-area: bottom2;
}

@media screen and (max-width: 768px) {
  .timeline {
    &-bg {
      padding-bottom: 0;
    }

    &-container {
      grid-template-areas:
        'bottom1 line .'
        '. line top1'
        'bottom2 line .'
        '. line top2';
      grid-template-columns: 1fr 0.25fr 1fr;
      margin: 0 auto;
      padding: 5rem 0;
    }

    &-dot {
      transform: translateY(0);
      transform: translateX(-17.5px);
    }

    &-line {
      align-items: center;
      display: grid;
      grid-template-rows: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr;
      height: 100%;
      margin: 0 1.75rem;
      width: 1px;
    }

    &-slide-title {
      font-size: 4rem;
    }

    &-title {
      margin: 0 1rem 0;
    }
  }

  .bottom1,
  .bottom2 {
    align-items: flex-end;
    margin: 2rem 0;

    > .timeline-text {
      text-align: right;
    }
  }

  .top1,
  .top2 {
    align-items: flex-start;
    margin: 2rem 0;

    > .timeline-text {
      text-align: left;
    }
  }
}

@media screen and (max-width: 500px) {
  .timeline {
    &-container {
      padding: 3rem 0;
    }

    &-slide-title {
      display: none;
    }
  }
}

@media screen and (max-width: 360px) {
  .timeline-overlay {
    height: 170%;
  }
}
