@import '../../style/colors.scss';

.partnership {
  &-bg {
    align-items: center;
    background-color: $blueBlackPearl;
    background-position: center center;
    background-size: cover;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-height: 750px;
    position: relative;
    width: 100vw;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }

  &-title {
    color: $black;
    font-size: 3rem;
    margin-top: 2rem;
    text-align: center;
  }

  &-subtitle {
    color: $black;
    font-size: 2rem;
    margin-top: 0.5rem;
    text-align: center;
  }

  &-text {
    color: $black;
    margin-top: 2rem;
    text-align: center;
    width: 75vw;
  }

  &-quote {
    align-items: center;
    background-color: $greyLight;
    background-repeat: repeat;
    box-shadow: 1px 1px 5px $greyLightest;
    display: flex;
    justify-content: center;
    margin: 3rem 0;
    width: 80%;

    &-text {
      color: $blueBright;
      font-size: 1rem;
      padding: 3rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .partnership {
    &-text {
      width: 90vw;
    }

    &-subtitle {
      width: 90vw;
    }

    &-quote {
      width: 90vw;
      height: auto;
    }
  }
}

@media screen and (max-width: 500px) {
  .partnership {
    &-title {
      font-size: 2rem;
    }

    &-subtitle {
      font-size: 1.5rem;
    }

    &-text {
      font-size: 1rem;
    }

    &-quote {
      &-text {
        margin: 1rem;
        font-size: 1rem;
        padding: 1rem;
      }
    }
  }
}