@import '../style/colors.scss';
@import '../utils/cdpFeed/cdpFeed.scss';

// Override WordPress theme header with site color
// header {
//   background-color: #030e27 !important;
// }

// Hide to default header from stories site
.entry-header {
  display: none;
}

// Generic hidden class
.hidden {
  display: none !important;
}

// Read More Button
.read-more {
  border: 2px solid $white;
  color: $white;
  font-weight: 700;
  background: none;
  margin: 1rem 0 2rem;
  padding: 0.5rem 1rem;
  letter-spacing: 1.5px;
  transition: 0.5s;

  &:hover {
    cursor: pointer;
  }

  &.minimal {
    border: none;
    background: none;
    color: $blueDark;
    padding-left: 0;
  }

  &.red {
    color: $blueDark;
    border-color: $red;

    &:hover {
      border: 2px solid rgba(208, 19, 25, 0.1);
    }
  }

  &.blue {
    color: $blueBlackPearl;
    border-color: $blueBlackPearl;

    &:hover {
      border: 2px solid rgba($color: $blueBlackPearl, $alpha: 0.1);
    }
  }

  @media screen and (max-width: 768px) {
    margin: 1rem 0 1rem;
  }
}

.arrow {
  &-white {
    color: $white;
    font-size: 0.8rem;
  }

  &-red {
    color: $red;
    font-size: 0.8rem;
  }
}

// Reusable base button
.card-button {
  align-items: center;
  background-color: $greyLight;
  color: $black;
  display: flex;
  font-size: 14px;
  height: 182px;
  margin: 2rem;
  padding: 1rem;
  width: 296px;
  text-align: center;

  &:hover {
    border: 2px solid $black;
  }

  @media screen and (max-width: 768px) {
    height: 100px;
    margin: 1rem;
    width: 200px;
  }

  @media screen and (max-width: 500px) {
    margin: 0.5rem;
  }
}

//Responsive Video Containers

.video {
  margin: 0 auto;
  max-width: 832px;
  text-align: center;
  width: 65vw;

  @media screen and (max-width: 768px) {
    max-width: 519px;
    width: 75vw;
  }
}

.video-responsive {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  padding-top: 25px;
  height: 0;
}

.video-responsive iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
