@import '../../style/colors.scss';

.card {
  &-section-bg {
    background-color: $white;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  &-section {
    &-title {
      color: $black;
      font-size: 2.5rem;
      font-weight: 700;
      padding: 3rem 0;
      text-align: center;
    }

    &-subtitle {
      color: $black;
      font-size: 2rem;
      font-weight: 700;
      padding: 25px;
      text-align: center;
    }

    &-info-array {
      display: flex;
      align-items: center;
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-array {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin: 2rem 0;
  }

  &-button {
    background-size: cover;
    border: 5px solid $greenDark;
    color: $greenDark;
    font-size: 1.5rem;
    font-weight: 600;
    height: 200px;
    width: 300px;
    margin: 1rem;
    padding: 1rem;
    text-decoration: none;
    text-align: center;

    &:hover {
      cursor: pointer;
      color: $red;
    }

    &.active {
      color: $red;
    }
  }

  &-additional-resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

hr.card-horizontal {
  background-color: $greyMedium;
  height: 2px;
  max-width: 1200px;
  stroke-width: 2;
}

.info-array {
  &-media {
    margin: 20px;

    >img {
      max-width: 100%;
    }
  }

  &-text {
    margin: 20px;
    color: $black;

    &-title {
      font-size: 1.5rem;
      font-weight: 700;
    }

    &-content {
      max-width: 60vw;
    }
  }
}

.resources-link {
  background-color: $greyLight;
  background-size: cover;
  color: $black;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  height: 182px;
  margin: 57px;
  text-decoration: none solid $black;
  text-align: center;
  width: 296px;
}

@media screen and (max-width: 768px) {
  hr.card-horizontal {
    max-width: 500px;
  }

  .card-array {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card {
    &-button {
      font-size: 1rem;
      width: 200px;
      height: 150px;
    }
  }

  .info-array {
    &-text {
      &-content {
        max-width: 90vw;
      }
    }
  }

  .resources-link {
    margin: 15px;
  }
}

@media screen and (max-width: 500px) {
  hr.card-horizontal {
    display: none;
  }

  .hidden {
    display: block !important;
  }

  .card {
    &-array {
      display: none;
    }

    &-section {
      &-additional-resources {
        display: flex;
        flex-direction: column;
      }

      &-subtitle {
        padding-bottom: 0;
      }
    }

    &-button {
      height: 75px;
      padding: 0;
      width: 200px;
    }
  }
}