@import '../../style/colors.scss';

.card {
  &-section-bg {
    background-color: $white;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
  }

  &-section {
    &-title {
      color: $black;
      font-size: 2.5em;
      font-weight: 700;
      padding-top: 50px;
      text-align: center;
    }

    &-subtitle {
      color: $black;
      font-size: 24px;
      font-weight: 700;
      padding: 25px;
      text-align: center;
    }

    &-info-array {
      align-items: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-array {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    padding-bottom: 50px;
  }

  &-button {
    background-size: cover;
    border: 5px solid $greenDark;
    color: $greenDark;
    font-size: 30px;
    font-weight: 600;
    height: 200px;
    margin: 15px;
    padding: 50px;
    text-decoration: none;
    text-align: center;
    width: 300px;
  }

  &-additional-resources {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

hr.card-horizontal {
  background-color: $greyMedium;
  height: 2px;
  max-width: 1200px;
  stroke-width: 2;
}

.info-array {
  &-media {
    margin: 20px;

    > img {
      max-width: 100%;
    }
  }

  &-text {
    margin: 20px;

    &-title {
      color: $black;
      font-size: 24px;
      font-weight: 700;
    }

    &-content {
      color: $black;
      font-size: 20px;
      max-width: 650px;
    }
  }
}

.resources-link {
  background-color: $greyLight;
  background-size: cover;
  color: $black;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  height: 182px;
  margin: 57px;
  text-decoration: none solid $black;
  text-align: center;
  width: 296px;
}

@media screen and (max-width: 768px) {
  hr.card-horizontal {
    max-width: 500px;
  }

  .card-array {
    flex-direction: row;
    flex-wrap: nowrap;
  }

  .card {
    font-size: 20px;
    height: 200px;
    width: 200px;

    &-array {
      padding-bottom: 10px;
    }

    &-button {
      font-size: 1rem;
      margin: 10px;
      padding: 10px;
      width: 200px;
      height: auto;
    }
  }

  .resources-link {
    margin: 15px;
  }
}

@media screen and (max-width: 500px) {
  hr.card-horizontal {
    max-width: 250px;
  }

  .card {
    &-array {
      flex-wrap: wrap;
    }

    &-section {
      &-additional-resources {
        display: flex;
        flex-direction: column;
      }
    }

    &-button {
      height: 75px;
      padding: 0;
      width: 200px;
    }
  }
}
