@import '../style/colors.scss';
@import '../utils/cdpFeed/cdpFeed.scss';

// Hide to default header from stories site
.entry-header {
  display: none;
}

// Generic hidden class
.hidden {
  display: none !important;
}

h1,
h2,
h3,
h4 {
  font-weight: bold;
}
