@import '../../style/colors.scss';

.briefing {
  background-color: $white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.1), 0 6px 20px 0 rgba(0, 0, 0, 0.03);
  margin: 2.5rem 0;
  max-width: 1350px;
  width: 90vw;

  &-bg {
    align-items: center;
    background-color: $white;
    background-repeat: repeat;
    display: flex;
    flex-direction: column;
    padding-bottom: 2.25rem;
    position: relative;
  }

  &-content {
    margin: 1rem;
    max-width: 832px;
    text-align: center;

    &-title {
      font-size: 1.5rem;
      font-weight: 700;
      padding-bottom: 2rem;
      line-height: 1.2;
    }

    &-text {
      > p {
        font-size: 0.85rem;
        margin: 1rem 0;
      }
    }
  }

  &-horizontal {
    display: none;
    border-top: 1px solid $greyLight;
    grid-area: hr;
    margin: 0 auto 2rem;
    width: calc(100% - 2rem);
  }

  &-nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    background-color: $white;
    border-bottom: 1px solid $greyLight;
  }

  &-subtitle {
    margin-top: 1rem;
    text-align: center;
  }

  &-title {
    padding: 2.75rem 0 0;
    text-align: center;
  }

  &-section-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 2rem;
  }

  &-button {
    background-color: $white;
    color: $black;
    font-size: 1rem;
    font-weight: 600;
    height: 100px;
    width: 300px;
    padding: 1rem;
    text-decoration: none;
    text-align: center;
    border-bottom: 2px solid $gold;
    border-top: none;
    border-right: none;
    border-left: none;

    &:focus {
      outline: none;
    }

    &:hover {
      cursor: pointer;
      color: $gold;
    }

    &.inactive {
      border-bottom: none;
      color: $greyMedium;

      &:hover {
        color: $gold;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .briefing {
    grid-row-gap: 2rem;
    grid-template-columns: 1fr;
    justify-content: center;

    &-bg {
      padding-bottom: 0.5rem;
    }

    &-button {
      font-size: 1rem;
    }

    &-content {
      margin: 0 1rem;

      &-text {
        max-width: 90vw;
      }
    }

    &-nav {
      flex-direction: row;
      flex-wrap: nowrap;
    }

    &-subtitle {
      margin: 1rem 1rem 0;
    }

    &-title {
      padding-top: 2rem;
    }
  }
}

@media screen and (max-width: 500px) {
  .briefing {
    margin: 0;

    &-bg {
      padding-bottom: 3rem;
    }

    &-button {
      height: 75px;
      padding: 0;
      width: 200px;
    }

    &-content {
      margin-bottom: 0;

      &-title {
        text-align: center;
      }
    }

    &-horizontal {
      display: block;
    }

    &-nav {
      display: none;
    }

    &-section-content {
      margin: 1rem;
    }
    &-subtitle {
      margin: 1rem;
    }
  }
}
