.tf {
  &-bg {
    background-color: #062135;
    left: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
    min-height: 750px;
    position: relative;
    right: 50%;
    width: 100vw;
  }

  &-buttons {
    display: flex;
    justify-content: center;
    padding: 50px 0px 50px 0px;
  }

  &-button {
    background-color: #0a314d;
    background-size: cover;
    color: #ffffff;
    font-family: Arial;
    font-size: 14px;
    font-weight: 400;
    height: 72px;
    margin: 15px;
    text-align: center;
    width: 166px;
  }

  &-button:hover {
    border: 2px solid #ffffff;
  }

  &-button:active {
    border: 3px solid #ffffff;
  }

  &-card {
    align-items: center;
    border: 5px solid #d01319;
    color: #ffffff;
    display: flex;
    height: 293px;
    font-size: 20px;
    font-weight: 600;
    margin: 0 3rem;
    position: relative;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
    width: 545px;

    &-face {
      align-items: center;
      display: flex;
      height: 293px;
      justify-content: center;
      overflow: hidden;
      position: absolute;
      width: 545px;

      &.back {
        background-color: #ffffff;
        color: #0a314d;
      }
    }
  }

  &-carousel {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: center;

    &-arrow {
      background-color: #062135;
      border: none;
      color: #ffffff;
      font-size: 8rem;
    }

    &-title {
      color: #ffffff;
      font-size: 24px;
      font-weight: 700;
      margin: 0;
      padding-bottom: 50px;
      text-align: center;
    }
  }

  &-title {
    color: #ffffff;
    font-size: 2.5em;
    font-weight: 700;
    margin: 0;
    padding: 50px 0;
    text-align: center;
    text-decoration: none solid rgb(255, 255, 255);
  }
}

.hidden {
  display: none;
}

@media screen and (max-width: 768px) {
}

@media screen and (max-width: 500px) {
  .tf-carousel {
    &-box {
      max-width: 350px;
    }

    &-title {
      padding: 15px;
    }
  }
}
