.one {
  background-color: #262626;
}
.two {
  background-color: #38ced7;
}
.three {
  background-color: #953543;
}

.slide {
  align-items: center;
  height: 100%;
  display: flex;
  padding: 2rem;
  justify-content: space-evenly;
  position: absolute;
  width: 100vw;
}

#slide-container {
  position: relative;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}
