@import '../../style/colors.scss';

.position {
  &-bg {
    align-items: center;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-bottom: 4rem;

    @media screen and (min-width: 1198px) {
      background-size: cover;
    }
  }

  &-text {
    margin-top: 0.5rem;
    max-width: 1191px;
    text-align: center;

    &-strong {
      font-size: 1.5rem;
      font-weight: bold;
      line-height: 1.5;
      margin: 1rem 0;
    }

    &-normal {
      font-size: 1.2rem;
      line-height: 1.5;
    }
  }

  &-title {
    margin: 0;
    margin: 2.75rem 0 0;
    text-align: center;
  }
}

@media screen and (max-width: 768px) {
  .position {
    &-text {
      max-width: 90%;
    }
  }
}

@media screen and (max-width: 500px) {
  .position-text {
    &-normal {
      font-size: 1rem;
    }

    &-strong {
      font-size: 1.2rem;
    }
  }
}
