.example {
  &-button {
    background-color: red;
    color: white;
    font-size: 15px;
    padding: 8px;
    margin-top: 5rem;
  }

  &-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  &-image {
    margin-top: 10px;
  }
}

.hidden {
  display: none;
}
