@import '../../style/colors.scss';

.hero {
  &-title {
    color: $white;
    font-size: 3.5rem;
    margin: 6.5rem 4rem 3rem;

    &-highlight {
      color: $gold;
    }
  }

  &-background {
    background-color: $blueDark;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 800px;
    position: absolute;
    transition: all 20s ease;
    width: 100vw;

    &:hover {
      transform: scale(1.5) translateX(-10rem) translateY(3rem);
    }
  }

  &-container {
    height: 800px;
    overflow: hidden;
    width: 100vw;
  }

  &-content {
    margin-left: 4rem;

    &-container {
      display: flex;
      flex-direction: column;
      position: relative;
    }
  }

  &-line {
    color: $white;
    font-size: 1.5rem;
    font-weight: 600;
    line-height: 1.6;
    margin-bottom: 1rem;
    max-width: 719px;
    min-height: 135px;
    opacity: 0;
    position: absolute;
  }

  &-red {
    background-color: $red;
    padding: 0px 4px 0px 4px;
  }
}

@media screen and (max-width: 768px) {
  .hero {
    &-background {
      background-position: 95%;
      height: 75vh;
    }

    &-container {
      height: 75vh;
    }

    &-content {
      margin: 50% 2rem 2rem;
      text-align: center;
    }

    &-title {
      margin: 4rem 2rem;
      text-align: center;
    }
  }
}

@media screen and (max-width: 500px) {
  .hero {
    &-title {
      text-align: center;
      margin: 2rem 1rem;
    }

    &-line {
      font-size: 1.4rem;
      margin: 0 1rem;
    }

    &-content {
      margin: 80% 1rem 1rem;
    }

    &-background {
      background-position: 80% top;
      height: 80vh;
    }

    &-container {
      height: 80vh;
      background-color: $blueDark;
    }
  }
}

@media screen and (max-width: 360px) {
  .hero {
    &-title {
      font-size: 3rem;
      margin: 1rem;
    }

    &-line {
      font-size: 1.2rem;
    }

    &-background {
      height: 80vh;
    }

    &-container {
      height: 90vh;
    }
  }
}
