@import '../../style/colors.scss';

.promise {
  &-bg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $blueBlackPearl;
    min-height: 750px;
    position: relative;
    width: 100vw;
    background-size: cover;
    background-position: center top;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 3rem;
  }

  &-title {
    color: $black;
    text-align: center;
    margin-top: 2rem;
  }

  &-subtitle {
    color: $black;
    text-align: center;
    margin: 0.5rem 0 0;
  }

  &-text {
    color: $black;
    text-align: center;
    margin-top: 2rem;
    max-width: 1191px;
    width: 75vw;
  }
}

@media screen and (max-width: 500px) {
  .promise {
    &-subtitle {
      margin-bottom: 0;
    }

    &-text {
      width: 90vw;
    }
  }
}
