@import '../../style/colors.scss';

.promise {
  &-bg {
    align-items: center;
    background-position: center top;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 750px;
    padding-bottom: 3rem;
    position: relative;
    width: 100vw;
  }

  &-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &-title {
    color: $black;
    text-align: center;
  }

  &-subtitle {
    color: $black;
    text-align: center;
    margin: 1rem 0 0;
  }

  &-text {
    color: $black;
    text-align: center;
    margin: 2rem 0;
    max-width: 1191px;
    width: 90vw;
  }
}

@media screen and (max-width: 768px) {
  .promise-bg {
    padding-bottom: 1rem;
  }
}

@media screen and (max-width: 500px) {
  .promise-text {
    width: 90vw;
  }
}
