.hero-header {
  background-color: #09304c;
  background-repeat: no-repeat;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.hero-title {
  font-size: 64px;
  font-family: "Open Sans", Times, Serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: -.75px;
  color: #fff;
}

.hero-title-highlight {
  color: #c1a783;
}

.hero-content-background {
  background-color: #0a314d;
  background-repeat: no-repeat;
  background-image: url(https://viperstaticdev.s3.amazonaws.com/stories/uploads/2019/09/iran_header_bg.png);
  background-position: center top;
  background-size: cover;
  height: 800px;
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
  display: flex;
  align-items: center;
}

.hero-line {
  max-width: 719px;
  min-height: 135px;
  position: absolute;
  font-family: Open Sans;
  font-size: 30px;
  color: #ffffff;
  font-weight: 600;
  margin-left: 10vw;
  margin-bottom: 1em;
  opacity: 0;
}

@media screen and (max-width: 768px) {
  .hero-content-background {
    background-position: 75% top;
    height: 75vh;
  }
}

@media screen and (max-width: 500px) {
  .hero-title {
    text-align: center;
  }

  .hero-line {
    font-size: 1.5rem;
  }

  .hero-content {
    padding-top: 15vh;
  }

  .hero-content-background {
    align-items: flex-start;
    height: 80vh;
    background-position: 80% top;
  }


}